body{
    background-color: lightsteelblue;
}
#loader {
    border: 8px solid #f3f3f3; 
    border-top: 8px solid #3498db; 
    border-radius: 50%; 
    width: 60px; 
    height: 60px; 
    animation: spin 3s linear infinite; 
    margin: auto; 
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    }

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#container{
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    grid-template-rows: repeat(4, 40vw);
    margin-top: 20px;
    margin-left: 30px;
    
    gap: 10px;
}
.prod{
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}
.img-prod{
    width: 27vw;
    height: 28vw;
    border-radius: 10px;
}
.price{
    color: darkcyan;

}
.model{
    color: deeppink;
}
.btn{
    background-color: rgb(34, 18, 255);
    color:#f3f3f3;
    float: right;
    margin-right: 20px;
    border-radius: 5px;
}
.table{
    width: 90vw;
}
#first-td{
    width: 5vw;
    text-align: center;
    background-color: darkcyan;
}
#second-td{
    width: 28vw;
    text-align: center;
    background-color: darkcyan;
}
#third-td{
    width: 27vw;
    text-align: center;
    background-color: darkcyan;
}
#fourth-td{
    width: 15vw;
    text-align: center;
    background-color: darkcyan;
}
#fifth-td{
    width: 15vw;
    text-align: center;
    background-color: darkcyan;
}
#sixth-td{
    width: 10vw;
    text-align: center;
    background-color: darkcyan;
}
.img{
    width: 130px;
    height: 100px;
    
}
.td{
    text-align: center;
}
#quantityProd{
    width: 30px;
}